/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-color: rgb(47, 49, 73);
}
.movie-card {
  position: relative;
  width: 300px;
  height: 450px;
  background: no-repeat center/cover;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(black, 0.5);
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    .title {
      padding-bottom: 50px;
      opacity: 1;
      transition: 0.5s;
    }
  }

  .title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 26px;
    font-weight: 300;
    padding: 30px 0;
    background: linear-gradient(to top, #000, transparent);
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    color: white;
  }
}

.movie-wrapper {
  gap: 30px;
}
